.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.DS_Store
dist/
out/
release/
node_modules/
.next/
coverage/
test-results/
.vscode/settings.json
*.log
*.mongodb
NOTES.txt
test.json
npm-debug.log*
tsconfig.tsbuildinfo

